export(psme, EvalSmooth, GetExtrema)

importFrom(stats, formula, terms)
importFrom(Matrix, t)
importFrom(methods, new, as)
importFrom(mgcv, interpret.gam, smooth.construct2, smoothCon)
importFrom(lme4, lmerControl, lFormula, mkLmerDevfun, optimizeLmer, mkMerMod)
